In [4]:
import textcleaner as tc
from gensim.summarization import summarize

E:\ANACONDA\lib\site-packages\gensim\utils.py:1209: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [5]:
# get files from https://nlp.stanford.edu/software/stanford-ner-2018-10-16.zip
from nltk.tag import StanfordNERTagger
from nltk.tokenize import word_tokenize

In [6]:
#reference https://pypi.org/project/rake-nltk/
from rake_nltk import Rake

In [68]:
import pandas as pd

In [75]:
#this list will be used to create a data frame
fframe = []

In [83]:
corp = tc.corpus('corpus')

In [65]:
#setting up name entity recognition model
st = StanfordNERTagger('stanford-ner/classifiers/english.muc.7class.distsim.crf.ser.gz',
                       'stanford-ner/stanford-ner.jar',
                        encoding='utf-8')

In [66]:
#setting up Rake instance
# Uses stopwords for english from NLTK, and all puntuation characters.
r = Rake()

# Highlights

In [89]:
print("Generating highlights from all the documents...")

sorted_file_list = [str(x)+".txt" for x in sorted([int(each.split('.txt')[0]) for each in corp.files])]
for file in sorted_file_list:
    doc = tc.document(corp.root+"/"+str(file))
    
    
    
    # summurizing the document to make the text data dense
    text = summarize(" ".join(doc.data))
    
    #tokenized_text = word_tokenize(text)
    #classified_text = st.tag(tokenized_text)
    
    #features = list(set([each[1] for each in classified_text]))
    
    #creates dictionary out of list of tuples 
    #result = {}
    #for fea in features:
    #    result[fea]=[]
        
    #for each in classified_text:
    #    result[each[1]].append(each[0])
     
    '''
    highlights = []
    for fea in features:
        # if the tagged featrue is not others
        if fea!="O":
            # look for the words in the given category
            for word in result[fea]:

                highlights.append([sent for sent in text.split('\n') if word in sent])

    final_highlights = list(set(["".join(x) for x in highlights]))           '''    
    
    #r.extract_keywords_from_text("".join(list(set(["".join(x) for x in highlights]))))
    r.extract_keywords_from_text(text)

    phrase = tc.remove_symbols(r.get_ranked_phrases()[0])[0] # To get keyword phrases ranked highest to lowest.
    
    
    # the highest ranked phrase is used in the given paragraph from the document
    for sent in text.split("\n"):       
        if phrase in str(tc.document(sent).lower_all().remove_symbols().data):
            fframe.append([file,phrase,sent])
            print('#',end='')

print("\nDone.")

Generating highlights from all the documents...

E:\ANACONDA\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

###################done

In [90]:
fframe = pd.DataFrame(fframe,columns=["doc","top phrase","highlight"])

In [220]:
#for word wrapping
pd.set_option('display.max_colwidth', 0)
fframe

,doc,top phrase,highlight
0,0.txt,market leadership despite aggressive competitive entry,"Amazon.com passed many milestones in 1997: by year-end, we had served more than 1.5 million customers, yielding 838% revenue growth to $147.8 million, and extended our market leadership despite aggressive competitive entry."
1,1.txt,1 billion revenue run rate,"We’ve served a cumulative 6.2 million customers, exited 1998 with a $1 billion revenue run rate, launched music, video, and gift stores in the U.S., opened shop in the U.K. and Germany, and, just recently, launched Amazon.com Auctions."
2,2.txt,1 billion revenue run rate,"We’ve served a cumulative 6.2 million customers, exited 1998 with a $1 billion revenue run rate, launched music, video, and gift stores in the U.S., opened shop in the U.K. and Germany, and, just recently, launched Amazon.com Auctions."
3,3.txt,books business represented 100 percent,"Only two years ago, Amazon.com's U.S. Books business represented 100 percent of our sales."
4,4.txt,much bandwidth per customer 5 years,"Given that last doubling rate, Amazon.com will be able to use 60 times as much bandwidth per customer 5 years from now while holding our bandwidth cost per customer constant."
5,5.txt,features like instant order update,"We’ve improved convenience with features like Instant Order Update, which warns you if you’re about to buy the same item twice (people are busy--they forget that they’ve already bought it!)."
6,6.txt,year free super saver shipping,"We’ve been doing so broadly across product categories, from books to electronics, and we’ve eliminated shipping fees with our 365 day-per-year Free Super Saver Shipping on orders over $25."
7,7.txt,helping customers make better purchase decisions ultimately pays,"Though negative reviews cost us some sales in the short term, helping customers make better purchase decisions ultimately pays off for the company."
8,8.txt,transportation business generates cumulative negative free cash flow,"Over the same four years, the transportation business generates cumulative negative free cash flow of $530 million."
9,9.txt,new customer set software developers,"With AWS, we’re building a new business focused on a new customer set … software developers."
10,10.txt,electronic book signings thirteen years later,"I was asked about a particular feature dozens of times: “How are you going to do electronic book signings?” Thirteen years later, we still haven’t figured that one out!"
11,11.txt,primary financial goal remains maximizing long,Our primary financial goal remains maximizing long-term free cash flow and doing so with high rates of return on invested capital.
12,12.txt,added 21 new product categories around,"We added 21 new product categories around the world in 2009, including Automotive in Japan, Baby in France, and Shoes and Apparel in China."
13,13.txt,key data services store many petabytes,"Many years ago, Amazon’s requirements reached a point where many of our systems could no longer be served by any commercial solution: our key data services store many petabytes of data and handle millions of requests per second."
14,14.txt,multiple kindle best sellers including abducted,"The publishing world is changing fast, and I plan to enjoy every minute of the ride.” Theresa Ragan is the KDP author of multiple Kindle best sellers including Abducted."
15,15.txt,reduced aws prices 27 times since launching 7 years ago,"We’ve reduced AWS prices 27 times since launching 7 years ago, added enterprise service support enhancements, and created innovative tools to help customers be more efficient."
16,16.txt,reinventing normal creating inventions,Nothing gives us more pleasure at Amazon than “reinventing normal” – creating inventions that customers love and resetting their expectations for what normal should be.
17,17.txt,many customers like conde nast,"And many customers like Conde´ Nast, Kellogg’s, and News Corp are migrating legacy critical applications and, in some cases, entire datacenters to AWS."
18,18.txt,every size across nearly every industry companies like pinterest,"AWS started with developers and startups, and now is used by more than a million customers from organizations of every size across nearly every industry – companies like Pinterest, Airbnb, GE, Enel, Capital One, Intuit, Johnson & Johnson, Philips, Hess, Adobe, McDonald’s, and Time Inc."
19,19.txt,established company might harvest day 2,"An established company might harvest Day 2 for decades, but the final result would still come."

# Tagged entities

In [283]:
sorted_file_list = ['corpus/'+str(x)+".txt" for x in sorted([int(each.split('.txt')[0]) for each in corp.files])]

result_list = []
#change list slice in the loop for results of more documents
for x in sorted_file_list[:1]:
    doc = tc.document(x)

    temp = []
    temp.append(x)
    
    text = " ".join(doc.lower_all().data)
    tokenized_text = word_tokenize(text)
    classified_text = st.tag(tokenized_text)
    
    features = list(set([each[1] for each in classified_text]))
    
    
    #creates dictionary out of list of tuples 
    result = {}
    for fea in features:
        if fea!="O":
            temp.append(",".join([each[0] for each in classified_text if each[1]==fea]))
      
    result_list.append(temp)

In [285]:
features.remove('O')
pd.DataFrame(result_list,columns=['doc']+features)

,doc,ORGANIZATION,LOCATION,PERSON,DATE,MONEY,PERCENT
0,corpus/1.txt,"amazon.com,amazon.com,netscape,geocities,amazon.com,amazon.com",delaware,"jeffrey,p.,bezos,jeffrey,p.,bezos","1997,year-end,1997,1997,1997,1996,the,fourth,quarter,of,1996,1997.,1997,november,1997,1998,1997","$,147.8,million,$,15.7,million,$,147.8,million,$,125,million,$,75,million","838,%,838,%,738,%,46,%,58,%,70,%"

# Important words

In [221]:
# this module needs updates not working properly

import nltk,operator,pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from math import log

In [224]:

sorted_file_list = ["corpus/"+str(x)+".txt" for x in sorted([int(each.split('.txt')[0]) for each in corp.files])]

inpu=[" ".join(tc.document(file).main_cleaner().data) for file in sorted_file_list]

#no of documents     
Nd = len(inpu)

In [179]:
#this function finds Term Frequency
def TF(word,doc):
    doc = " ".join([" ".join(each) for each in tc.document(doc).words])
    score=doc.count(word)/len(doc.split(' '))
    return score

In [147]:
def IDF(word,corpus):
    count = 1
    for file in corpus:
        if word in file:
            count+=1
    return log(Nd/count)

In [149]:
def tfidf(word,sent,file):
    score = TF(word,sent)*IDF(word,file)
    return score

In [240]:
main_score_matrix=[]

# clear the slice from the list for 
for each in inpu[2:4]:

    temp_score_matrix = []
    unique_words = list(set(each.split(" ")))
    for word in unique_words:
        temp_score_matrix.append([word,tfidf(word,each,inpu)])
        
    temp_score_matrix = pd.DataFrame(score_matrix,columns=['word','score'])
    temp = temp_score_matrix.sort_values(['score'],ascending=[0]).head(5)[['word']].values.tolist()
    main_score_matrix.append([file,str(" ".join([", ".join(each) for each in temp]))])

In [241]:
main_score_matrix = pd.DataFrame(main_score_matrix,columns=['doc','important words'])
main_score_matrix

     doc                                    important words
0  1.txt  investment leadership solidify yearend aggressive
1  1.txt  investment leadership solidify yearend aggressive

In [242]:
for each in inpu[2:4]:
    print(each[:100])

shareholder first year journey yielded amazing result weve served million customer country built lea
shareholder ouch brutal year many capital market certainly amazoncom shareholder writing share wrote